:root {
    --background: #0f0f0f;
    --color: #e7e7e7;
    --introBackground: #e7e7e7;
    --introColor: #0f0f0f;
}

.logo-minimal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: Space;
    position: absolute;
    border: 2px solid var(--color);
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 1000px;
    top: 60px;
    left: 60px;
    cursor: pointer;
    transition: all .2s ease;
}

.logo-minimal:hover {
    box-shadow: 0 0 10px;
    text-shadow: 0 0 10px;
    transform: rotate(360deg);
}

body {
    background-color: var(--background);
    color: var(--color);
    font-family: Dosis;
    font-size: 28px;
    scroll-behavior: smooth;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    gap: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

@font-face {
    font-family: Space;
    src: url('fonts/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: Dosis;
    src: url('fonts/Dosis-Medium.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat-Medium.ttf');
}